<%- include('../partials/header') %>
<div class="row row-cols-1 row-cols-md-3 g-4 m-2">
    <div class="col">
        <div class="card text-center">
            <div class="card-header">HTML5</div>
            <div class="card-body">
              <h5 class="card-title">Canal HTML</h5>
              <p class="card-text">
                Contient tous les canaux HTML créés par les différents utilisateur de l'application.
              </p>
              <a href="#" class="btn btn-dark btn-outline-success">Lire</a>
            </div>
            <div class="card-footer text-muted">Il y a 2 jours</div>
        </div>
    </div>
    

    <div class="col">
        <div class="card text-center">
            <div class="card-header">CSS3</div>
            <div class="card-body">
              <h5 class="card-title">Canal CSS</h5>
              <p class="card-text">
                Contient tous les canaux CSS créés par les différents utilisateur de l'application.
              </p>
              <a href="#" class="btn btn-dark btn-outline-success">Lire</a>
            </div>
            <div class="card-footer text-muted">Il y a 2 jours</div>
          </div>
    </div>
    

    <div class="col">
        <div class="card text-center">
            <div class="card-header">Javascript</div>
            <div class="card-body">
              <h5 class="card-title">Canal Javascript</h5>
              <p class="card-text">
                Contient tous les canaux Javascript créés par les différents utilisateur de l'application.
              </p>
              <a href="#" class="btn btn-dark btn-outline-success">Lire</a>
            </div>
            <div class="card-footer text-muted">Il y a 2 jours</div>
          </div>
    </div>

</div>
<%- include('../partials/footer') %>